
.service-card .list .content .content-inner h3{
    color:black;
    font-size: 18px;
    text-align: center;
  }
  
  
  .service-card .list {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
    
  }
  
  .service-card .list .service-img {
    position: relative;
    overflow: hidden;
    height: 200px;
  
    z-index: 1;
  }
  
  .service-card .list .service-img img {
    transition: 0.5s;
  }
  
  .service-card .list .service-img::before {
    width: 100%;
    height: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;

    
  }
  
  .service-card .list:hover .service-img::before {
    height: 100%;
    background: rgba(162, 193, 199, 0.3);

  }
  
  .service-card .list .service-img:hover img {
    transform: scale(1.3);
  }
  
  .service-card .list .content {
    position: relative;
    z-index: 2;
    
  
  }

  .service-card .list .content h3{
    color: $secondary;
    text-align: center;
    
    
  
  }

  .service-card .list .content p{
   color: black;
   text-align: center;
    
  
  }
  
  .service-card .list .content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
    transition: 0.5s;

    z-index: 3;
  }
  
  .service-card .list:hover .content::before {

    height: 100%;

  }
  
  .service-card .list .content .content-inner {
    transition: 0.5s;
    
  }
  
  
  .service-card .list:hover .content .content-inner {
    position: relative;
    color: black;
    z-index: 9;
  }
  .service-card .list:hover .content .content-inner h3 {
    color: black;
    text-decoration: underline 2px black;
    
  }

  .services-btn{
    background-color: lighten($default, 40);
    color: black;
    border-radius: 3rem;
    margin-top: 3rem;
    text-align: center;
    padding: 12px 30px;
    
  

  }
  .services-btn a{
text-align: center;


color: black;
align-items: center;
  }

  .services-btn a::hover{
    background-color: $secondary;
  }
  
  /*** Service End ***/
  
  
  
  