

    /*--------------------------------------------------------------
# certification Section
--------------------------------------------------------------*/
.certification {
  .certification-item {

  
    padding: 30px;

    .cert-img {
      max-height: 100%;
      max-width: 100%;
     text-align: center;
  
      color: $secondary;
    }


    
  .cert-title{
    text-align: center;
    margin-top: 12rem;
    margin-right: 3rem;
    
  h2 {
   
  text-align: center;
    font-size: 24px;
  }
}




  }

}
