// main: ../main.scss
/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px color-mix(in srgb, $primary, transparent 90%);
    transition: 0.3s;
    height: 100%;

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin: 0;
    }

    i {
      background: color-mix(in srgb, $secondary, transparent 92%);
      color: $secondary;
      line-height: 0;
      padding: 4px;
      margin-right: 10px;
      font-size: 24px;
      border-radius: 3px;
      transition: 0.3s;
    }

    &:hover {
      i {
        background: $secondary;
        color: $primary;
      }
    }
  }
}