// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: $primary;
  background-color: lighten( #1d273a, 55%);
  font-size: 14px;
  padding-bottom: 1px;
  position: relative;
  align-items: center;





  .footer-top {
    padding-top: 50px;




  .footer-about {
    .logo {
      line-height: 1;
      margin-bottom: 25px;
      

      img {
        max-height: 150px;
        margin-right: 6px;

        @media (max-width:580px){
          text-align: center;
         }
      }
      
      }

      span {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
    
        color: white;
      }
    }

    p {
      font-size: 19px;
      color: black;
  
    }
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, $primary, transparent 50%);
      font-size: 16px;
      color: color-mix(in srgb, $primary, transparent 30%);
      margin-right: 10px;
      transition: 0.3s;

      :hover {
        font-size: 20px;
      }

      i{
        color:white;
      }

      i:hover {
        color: $primary;
      }
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline 2px;
    position: relative;
    padding-bottom: 12px;
  }

  .footer-links {
    margin-bottom: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      i {
        padding-right: 2px;
        font-size: 12px;
        line-height: 0;
      }

      li {
        padding: 10px 0;

        &:first-child {
          padding-top: 0;
        }

        display: flex;
        align-items: center;
      }

      a {
        color:black;
        font-weight: 500;
        display: inline-block;
        line-height: 1;

        &:hover {
          color: $secondary;
        }
      }
    }
  }







  .footer-newsletter {
    .newsletter-form {
      margin-top: 30px;
      padding: 6px 8px;
      position: relative;
      border-radius: 50px;
      border: 1px solid color-mix(in srgb, grey, transparent 70%);
      display: flex;
      background-color: $secondary;
      transition: 0.3s;

      &:focus-within {
        border-color: grey;
      }

      input[type="email"] {
        border: 0;
        padding: 4px 10px;
        width: 100%;
        background-color: $secondary;
        color: var(--default-color);
      }

      input[type="email"]:focus-visible {
        outline: none;
      }

      input[type="submit"] {
        border: 0;
        font-size: 16px;
        padding: 0 20px;
        margin: -7px -9px -7px 0;
        background: grey;
        color: $secondary;
        transition: 0.3s;
        border-radius: 50px;

        &:hover {
          background: color-mix(in srgb, grey, transparent 20%);
        }
      }
    }

    .error-message {
      display: none;
      background: #df1529;
      color: #ffffff;
      text-align: left;
      padding: 15px;
      margin-top: 10px;
      font-weight: 600;
      border-radius: 4px;
    }

    .sent-message {
      display: none;
      color: #ffffff;
      background: #059652;
      text-align: center;
      padding: 15px;
      margin-top: 10px;
      font-weight: 600;
      border-radius: 4px;
    }

    .loading {
      display: none;
      background: $primary;
      text-align: center;
      padding: 15px;
      margin-top: 10px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: grey;
        border-top-color: $secondary;
        animation: subscription-loading 1s linear infinite;
      }
    }

    @keyframes subscription-loading {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

















  .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color-mix(in srgb, $primary, transparent 90%);

    p {
      margin-bottom: 0;
      color: black;
    }

    a{
      color: $secondary;
    }
  }

  .credits {
    margin-top: 6px;
    font-size: 13px;
  }
}