 /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: $font-default;
    color: $default;
    overflow-x: hidden;
  
  }
  
  

  
  a {
    color: var($primary);
    text-decoration: none;
  }
  
  a:hover {
  
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5
   {
    font-family:$font-secondary;
  }
  
  
  h4{
    color: #000;
    font-size: 35px;
  
  }
  
  
  
  h6{
    font-size: 40px;
    color: #000;
  }
  
  
 
  
  
  /*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: $primary;
    width: 40px;
    height: 40px;
    border-radius: 17px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: black;
    line-height: 0;
  }
  
  .scroll-top:hover {
    background: $secondary;
    color: #fff;

    i{
      color:white;
    }
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  

  

  
  
  
  
  
  
  
  
  
  
  