  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header {
    z-index:999;
    position: absolute;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1d273a;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    font-family: var(--font-primary);
  }
  
  .header .logo h1 span {
    color: $primary;
  }
  
  


