/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {

  font-size: 14px;
  padding: 0;
background-color: $primary;
  color: white;
  height: 40px;





  .contact-info {

    i {
      font-style: normal;
      color: white;
      z-index: 999;

      a, span {
        padding-left: 5px;
        color: #fff;
      }

      a {
        line-height: 0;
        color: white;
        transition: 0.3s;
        &:hover {
          color: white;
        }
      }

    }
  }

  .cta {

    a {
      color: white;
      background: $secondary;
      padding: 10px 20px;
      display: inline-block;
      z-index: 999;
      transition: 0.3s;

      &:hover {
        background: lighten($primary, 5);
      }
    }
  }
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 70px;
  transition: all 0.9s;
  background-color:  lighten($primary, 10);
  box-shadow: none;


  
  &.header-fixed {
    box-shadow: none;
  }

  .logo {

    h1 {
      font-size: 28px;
      margin: 0;
      color: White;
      line-height: 0;
      font-weight: 700;
   
    }

    h1 a, h1 a:hover {
      color: White;
      text-decoration: none;
    }

    img {
      padding: 0;
      margin: 0;
      max-height: 60px;
      margin-left: 1rem;
         border-radius: 50%;
    }
  }
}

.scrolled-offset {
  margin-top: 70px;

}

#main {

  z-index: 3;

}


