/*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/

.services{
   a{
    color: black;
    text-align: center;
    font-size: 19px;
  }

   .service-item{
    padding: 40px;
    background: #fff;
    height: 100%;
  
  
   .icon {
    width: 48px;
    height: 48px;
  
    position: relative;
    margin-bottom: 50px;
   
    text-align: center;
 
  
   .icon i {
    color: $secondary;
    font-size: 30px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    line-height: 1.8;
    
  }
  
   .icon:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background: #f0f1f2;
    border-radius: 50px;
    z-index: 1;
  text-align: center;
    
    transition: 0.3s;


    :hover  {
      background: $primary;

    }
    
  }

}
  
   h3 {
    color: black;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #ebebed;
    transition: 0.3s;

     
   :hover {
    border-color: $primary;
  }
  }
  
   p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 0;
  }
  

  


}

}




.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  grid-template-columns: repeat(3, 1fr);
  

  
  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
    padding: 0;
  }

  @media (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    padding: 0;
    margin: 0 0;
  }

}

.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  @media (min-width: 600px) {
    height: 550px;
  }



  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform calc(0.7s * 1.5) cubic-bezier(0.19, 1, 0.22, 1);;
    pointer-events: none;

  }
  
  &:after {
    content: 'Tap for More';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(0.7s * 2) cubic-bezier(0.19, 1, 0.22, 1);;
  }




  

 
}


.card-1 {
   

  &:before{
    
      background-image: url('../img/container-cleaning.jpg');
    }
  }


.card-2 {
   

  &:before{
      
       background-image: url('../img/Pressure_Washing_of_Tank_Exterior.jpg');
       background-size: cover;
    }
  }

.card-3 {
   

  &:before{
      
       background-image: url('../img/vac_truck_2.jpg');
    }
  }

.card-4 {
   

  &:before{
        
       background-image: url('../img/outkast-banner.jpg');
    }
  }


.card-5 {
   

  &:before{
        
        background-image: url('../img/Opening_of_a_Carbon-Tetrachloride_Tank.jpg');
    }
  }

.card-6 {
   

  &:before{
          
        background-image: url('../img/hazmat.jpg');
     }
  }


.card-7 {
   

  &:before{
            
        background-image: url('../img/Transfer_of_Leaking_Tanker.jpg');
      }
  }


.card-8 {
   

  &:before{
              
         background-image: url('../img/employee.jpg');
      }
  }


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  
  > * + * {
    margin-top: 1rem;
  }


}

.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;

  
}

.copy {
  
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

.btn{
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  
  &:hover {
    background-color: lighten($secondary, 20);
  }
  
  &:focus {
    outline: 1px dashed $secondary;    
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: 300px) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 90px));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(0.7s / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}


