


/*----------------------------------------------------------------
h1 header for each page 
-----------------------------------------------------------------*/





/*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/


  section {
    padding: 80px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f5f6f7;
  }




  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
    color: rgb(56, 56, 56);
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: $secondary;
    bottom: 0;
    left: calc(50% - 20px);
  }

  .section-title h1 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
    color: rgb(56, 56, 56);
  }
  .section-title h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: $secondary;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  
 
  .section-header p {
    margin: 0 auto 0 auto;
  }
  
  @media (min-width: 1199px) {
    .section-header p {
      max-width: 60%;
    }
  }
  


    
  .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    text-align: center;

   
  }
  
.sub-title p{
  
    margin-right: 2rem;
  
}

  .info-section .sub-style .sub-title{
    font-size: 40px;
  }
  
  .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid;
    border-color: $primary;
  }
  
  .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid;
    border-color: $primary;
  }






/*--------------------------------------------------------------
# alternate-section-header
--------------------------------------------------------------*/

  
#alternate-page-title {


 height: 40vh;
  color: #fff;
  padding: 10px 0 20px 0;
  background:rgba(#0d1429, 0.7);


  @media  (max-width: 800px) {
    height: 40vh;
    
  }


  h1{
    color:white;
  }

  &:before {
    content: "";

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }




  .text-box{
    text-align: center;
    padding: 3rem;
    width: 100%;
    display: inline;
   max-width: 200px;

 


  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    

  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  
    color: #fff;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
 
    
  }
}




}




  
  
  