  
/* Fonts */

$font-default: 'Open Sans', sans-serif;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Poppins', sans-serif;


/* Colors */

$default: #313030;
$primary: rgb(90, 90, 90);
$secondary: #000035;
  


