  
  /*--------------------------------------------------------------
  # Services Cards Section
  --------------------------------------------------------------*/
  #cert-img{
    align-items: center;
  }
  
    .cert-img h3 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: $secondary;
    }
    
    .cert-img p {
      font-size: 15px;
    }
  
    .cert-img img{
      max-width: 200px;
      text-align: center;
      margin-left: 2rem;
      padding: 2rem;
      justify-content: center;
  
    }
    
    .cert-img ul li {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-top: 10px;
    }
    
    .cert-img ul li i {
      font-size: 16px;
      color: var($primary);
      margin-right: 6px;
    }
    