

/* Fonts */

    $font-default: 'Open Sans', sans-serif;
    $font-primary: 'Raleway', sans-serif;
    $font-secondary: 'Poppins', sans-serif;

  
  /* Colors */

$default: #313030;
$primary: rgb(90, 90, 90);
$secondary: #000035;


  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: var($font-default);
    color: var($default);
    overflow-x: hidden;
  
  }
  
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  a {
    color: var($primary);
    text-decoration: none;
  }
  
  a:hover {
  
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5
   {
    font-family: var($font-secondary);
  }
  
  
  h4{
    color: #000;
    font-size: 35px;
  
  }
  
  
  
  h6{
    font-size: 40px;
    color: #000;
  }
  
  
 
  
  
  /*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var($primary);
    width: 40px;
    height: 40px;
    border-radius: 17px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: var($secondary);
    line-height: 0;
  }
  
  .scroll-top:hover {
    background: #ffc732;
    color: #fff;
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  

  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
 
  


  





  
  /*--------------------------------------------------------------
  # Alt Services Section      Not being used

  .alt-services .img-bg {
  
  height: 200px;
  }
  
  .alt-services h3 {
    font-size: 28px;
    font-weight: 700;
    color: var($secondary);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .alt-services h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var($primary);
    left: 0;
    bottom: 0;
  }
  
  .alt-services .icon-box {
    margin-top: 50px;
  }
  
  .alt-services .icon-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var($primary);
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    line-height: 0;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: 0.3s;
  }
  
  .alt-services .icon-box:hover i {
    background-color: var($primary);
    color: #fff;
  }
  
  .alt-services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .alt-services .icon-box h4 a {
    color: #000;
    transition: 0.3s;
  }
  
  .alt-services .icon-box h4 a:hover {
    color: var($primary);
  }
  
  .alt-services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
 
  --------------------------------------------------------------*/

  
  
  
  


  @import 'header';
  @import 'navbar';
  @import 'about';
  @import 'hero section';
  @import 'cta';
  @import 'features';
  @import 'titles';
  @import 'services items';
  @import 'services cards';
  @import 'secondary header';
  @import 'cert img';
  @import 'social icons';
  @import 'contact';
  @import 'footer';