/* Fonts */
/* Colors */
/*--------------------------------------------------------------
 # General
 --------------------------------------------------------------*/
body {
  overflow-x: hidden;
}

a {
  color: rgb(90, 90, 90);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h4 {
  color: #000;
  font-size: 35px;
}

h6 {
  font-size: 40px;
  color: #000;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: rgb(90, 90, 90);
  width: 40px;
  height: 40px;
  border-radius: 17px;
}

.scroll-top i {
  font-size: 24px;
  color: black;
  line-height: 0;
}

.scroll-top:hover {
  background: #000035;
  color: #fff;
}
.scroll-top:hover i {
  color: white;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  font-size: 14px;
  padding: 0;
  background-color: rgb(90, 90, 90);
  color: white;
  height: 40px;
}
#topbar .contact-info i {
  font-style: normal;
  color: white;
  z-index: 999;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}
#topbar .contact-info i a {
  line-height: 0;
  color: white;
}
#topbar .contact-info i a:hover {
  color: white;
}
#topbar .cta a {
  color: white;
  padding: 10px 20px;
  display: inline-block;
  z-index: 999;
  transition: 0.3s;
}
#topbar .cta a:hover {
  background: #676767;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.9s;
  background: #555;
  box-shadow: none;
  /**
  * Desktop Navigation 
  */
  /**
  * Mobile Navigation 
  */
}
#header .fixed-top {
  box-shadow: white;
  z-index: 10;
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  color: White;
  line-height: 0;
  font-weight: 700;
  z-index: 999;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: White;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
  margin-left: 1rem;
  border-radius: 50%;
}
#header .scrolled-offset {
  background-color: white;
}
#header .navbar {
  padding: 0;
}
#header .navbar ul {
  margin: 0;
  padding: 0;
  z-index: 999;
  display: flex;
  list-style: none;
  align-items: center;
}
#header .navbar li {
  position: relative;
}
#header .navbar a, #header .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}
#header .navbar a i, #header .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
#header .navbar a:hover, #header .navbar .active, #header .navbar .active:focus, #header .navbar li:hover > a {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: white;
}
#header .navbar .getstarted, #header .navbar .getstarted:focus {
  background: rgb(90, 90, 90);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
#header .navbar .getstarted:hover, #header .navbar .getstarted:focus:hover {
  background: #676767;
}
#header .navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 3;
  color: white;
  opacity: 0;
  visibility: hidden;
  background: whitesmoke;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
#header .navbar .dropdown ul li {
  min-width: 200px;
}
#header .navbar .dropdown ul a {
  padding: 10px 20px;
  color: black;
}
#header .navbar .dropdown ul a i {
  font-size: 12px;
}
#header .navbar .dropdown ul a:hover, #header .navbar .dropdown ul .active:hover, #header .navbar .dropdown ul li:hover > a {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 4px;
}
#header .navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
#header .navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
#header .navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  #header .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  #header .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
#header .navbar .nav-btn {
  margin-left: 25px;
}
#header .navbar .nav-btn :hover {
  background-color: #7e7c7c;
}
@media (max-width: 991px) {
  #header .navbar .nav-btn {
    margin-right: 20px;
  }
}
#header .navbar .nav-btn a {
  padding: 8px 10px;
  background-color: #f3f3f3;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
}
#header .mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
#header .mobile-nav-toggle.bi-x {
  color: #fff;
}
@media (max-width: 991px) {
  #header .mobile-nav-toggle {
    display: block;
  }
  #header .navbar ul {
    display: none;
  }
}
#header .navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 2, 0.9);
  transition: 0.3s;
  z-index: 999;
}
#header .navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
#header .navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
#header .navbar-mobile a, #header .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000035;
}
#header .navbar-mobile a:hover, #header .navbar-mobile .active, #header .navbar-mobile li:hover > a {
  color: rgb(90, 90, 90);
}
#header .navbar-mobile .getstarted, #header .navbar-mobile .getstarted:focus {
  margin: 15px;
}
#header .navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
#header .navbar-mobile .dropdown ul li {
  min-width: 200px;
}
#header .navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
#header .navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
#header .navbar-mobile .dropdown ul a:hover, #header .navbar-mobile .dropdown ul .active:hover, #header .navbar-mobile .dropdown ul li:hover > a {
  color: rgb(90, 90, 90);
}
#header .navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  padding: 0;
}
.hero .carousel {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 0;
  margin: 0;
  background-color: rgb(90, 90, 90);
  position: relative;
}
@media (max-width: 950px) {
  .hero .carousel {
    min-height: calc(75vh - 100px);
  }
}
.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
@media (max-width: 950px) {
  .hero img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 60vh;
  }
}
.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero .carousel-item:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
}
.hero .carousel-container {
  position: absolute;
  inset: 90px 64px 64px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.hero h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  animation: fadeInDown 1s both;
}
@media (max-width: 768px) {
  .hero h2 {
    font-size: 30px;
  }
}
.hero p {
  animation: fadeInDown 1s both 0.2s;
}
@media (min-width: 1024px) {
  .hero h2,
  .hero p {
    max-width: 60%;
  }
}
.hero .btn-get-started {
  color: #000035;
  background: rgb(90, 90, 90);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  animation: fadeInUp 1s both 0.4s;
}
.hero .btn-get-started:hover {
  background: color-mix(in srgb, rgb(90, 90, 90), transparent 20%);
}
.hero .carousel-control-prev,
.hero .carousel-control-next {
  width: 10%;
  transition: 0.3s;
  opacity: 0.5;
  margin-top: 25rem;
}
.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}
.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}
@media (min-width: 1024px) {
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 5%;
  }
}
.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}
.hero .carousel-indicators {
  list-style: none;
}
.hero .carousel-indicators li {
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.alternative-hero {
  padding: 0;
}
.alternative-hero .carousel {
  width: 100%;
  min-height: calc(90vh - 100px);
  padding: 0;
  margin: 0;
  background-color: rgb(90, 90, 90);
  position: relative;
}
.alternative-hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
.alternative-hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.alternative-hero .carousel-item:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
}
.alternative-hero .carousel-container {
  position: absolute;
  inset: 90px 64px 64px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.alternative-hero h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  animation: fadeInDown 1s both;
}
@media (max-width: 768px) {
  .alternative-hero h2 {
    font-size: 30px;
  }
}
.alternative-hero p {
  animation: fadeInDown 1s both 0.2s;
}
@media (min-width: 1024px) {
  .alternative-hero h2,
  .alternative-hero p {
    max-width: 60%;
  }
}
.alternative-hero .btn-get-started {
  color: #000035;
  background: rgb(90, 90, 90);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  animation: fadeInUp 1s both 0.4s;
}
.alternative-hero .btn-get-started:hover {
  background: color-mix(in srgb, rgb(90, 90, 90), transparent 20%);
}
.alternative-hero .carousel-control-prev,
.alternative-hero .carousel-control-next {
  width: 10%;
  transition: 0.3s;
  opacity: 0.2;
  color: black;
  background-color: white;
}
.alternative-hero .carousel-control-prev:focus,
.alternative-hero .carousel-control-next:focus {
  opacity: 0.3;
}
.alternative-hero .carousel-control-prev:hover,
.alternative-hero .carousel-control-next:hover {
  opacity: 0.1;
}
@media (min-width: 1024px) {
  .alternative-hero .carousel-control-prev,
  .alternative-hero .carousel-control-next {
    width: 5%;
  }
}
.alternative-hero .carousel-control-next-icon,
.alternative-hero .carousel-control-prev-icon {
  background: none;
  font-size: 42px;
  line-height: 0;
  border-radius: 2rem;
}
.alternative-hero .carousel-indicators {
  list-style: none;
}
.alternative-hero .carousel-indicators li {
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about ul {
  list-style: none;
  padding: 0;
}
.about ul li {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: black;
}
.about .social-links {
  text-align: center;
}
.about .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000035;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, rgb(90, 90, 90), transparent 30%);
  font-size: 16px;
  color: color-mix(in srgb, rgb(90, 90, 90), transparent 70%);
  margin-right: 10px;
  margin-bottom: 3rem;
  transition: 0.3s;
}
.about .social-links a :hover {
  font-size: 20px;
}
.about .social-links a i {
  color: white;
}
.about .social-links a i:hover {
  color: rgb(90, 90, 90);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about-alt .content {
  background-color: color-mix(in srgb, #000035, transparent 95%);
  padding: 40px;
}
.about-alt .content h3 {
  font-size: 14px;
  font-weight: 700;
  color: #000035;
  text-transform: uppercase;
}
.about-alt .content h2 {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 380px) {
  .about-alt .content h2 {
    text-align: center;
  }
}
.about-alt .content p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
@media (max-width: 380px) {
  .about-alt .content p {
    text-align: center;
  }
}
.about-alt .content .btn-read-more {
  color: white;
  background: #000035;
  line-height: 0;
  overflow: hidden;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  box-shadow: 0px 5px 25px color-mix(in srgb, #000035, transparent 90%);
}
@media (max-width: 380px) {
  .about-alt .content .btn-read-more {
    padding: 10px 20px;
  }
}
@media (max-width: 240px) {
  .about-alt .content .btn-read-more {
    padding: 9px 20px;
  }
}
.about-alt .content .btn-read-more span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
@media (max-width: 380px) {
  .about-alt .content .btn-read-more span {
    font-size: 12px;
    letter-spacing: 0;
  }
}
@media (max-width: 280px) {
  .about-alt .content .btn-read-more span {
    font-size: 9px;
    letter-spacing: 0;
  }
}
.about-alt .content .btn-read-more i {
  margin-left: 4px;
  font-size: 18px;
  transition: 0.3s;
  overflow: hidden;
}
@media (max-width: 380px) {
  .about-alt .content .btn-read-more i {
    display: none;
  }
}
.about-alt .content .btn-read-more:hover i {
  transform: translateX(75px);
}

/*--------------------------------------------------------------
# About Section on index.html
--------------------------------------------------------------*/
.about-intro {
  margin-bottom: -6rem;
}
.about-intro h1 {
  font-size: 28px;
  font-weight: 700;
}
.about-intro h2 {
  color: black;
  font-weight: 700;
  font-size: 28px;
}
.about-intro p {
  margin-left: 45px;
  line-height: 24px;
  font-size: 17px;
}
.about-intro .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000035;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, rgb(90, 90, 90), transparent 30%);
  font-size: 16px;
  color: color-mix(in srgb, rgb(90, 90, 90), transparent 20%);
  margin-right: 10px;
  margin-bottom: 3rem;
  transition: 0.3s;
}
.about-intro .social-links a :hover {
  font-size: 20px;
}
.about-intro .social-links a i {
  color: white;
}
.about-intro .social-links a i:hover {
  color: rgb(90, 90, 90);
}
.about-intro .content {
  background: whitesmoke;
  color: #000035;
  padding: 7rem 0;
}
.about-intro .content .img-overlap {
  margin-top: -5px;
  padding: 1rem;
}
.about-intro .content .btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  text-align: center;
  background: rgb(90, 90, 90);
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgb(90, 90, 90);
  color: #fff;
}
.about-intro .content .btn:hover {
  background: #000035;
}
.about-intro p {
  color: #000035;
}
.about-intro .content-title {
  background-color: white;
  padding: 20px;
  font-size: 25px;
  box-shadow: 8px 10px 10px 8px #888888;
}
.about-intro .about-icon-boxes h4 {
  font-size: 18px;
  color: #00009b;
  margin-bottom: 15px;
}
.about-intro .about-icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #00004f;
  margin-bottom: 15px;
}
.about-intro .about-icon-box {
  margin-top: 40px;
}
.about-intro .about-icon-box .about-icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #a7a7a7;
  border-radius: 50px;
  transition: 0.5s;
  background: white;
}
.about-intro .about-icon-box .about-icon i {
  color: rgb(90, 90, 90);
  font-size: 32px;
}
.about-intro .about-icon-box:hover .about-icon {
  background: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
}
.about-intro .about-icon-box:hover .about-icon i {
  color: white;
}
.about-intro .about-icon-box .about-service-title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about-intro .about-icon-box .about-service-title a {
  color: black;
  transition: 0.3s;
}
.about-intro .about-icon-box .about-service-title a:hover {
  color: rgb(90, 90, 90);
}
.about-intro .about-icon-box .about-service-description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}
.about-intro .about-icon-box .content-title h2 {
  color: #000035;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
}
@media (max-width: 994px) {
  .about-intro .about-icon-box .content-title h2 {
    text-align: center;
  }
}
.about-intro .about-icon-box h3 {
  text-align: center;
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.gallery .gallery-item img {
  transition: 0.3s;
}
.gallery .gallery-links {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  line-height: 1.2;
  margin: 30px 8px 0 8px;
}
.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
  color: #ffffff;
}
.gallery .gallery-links .details-link {
  font-size: 30px;
  line-height: 0;
}
.gallery .gallery-item:hover .gallery-links {
  opacity: 1;
}
.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
  margin-top: 0;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

.glightbox-clean .gslide-description {
  background: #272727;
}

.glightbox-clean .gslide-title {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #000035;
  background-size: cover;
  padding: 60px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  background: rgb(90, 90, 90);
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgb(90, 90, 90);
  color: #fff;
}
.cta .cta-btn:hover {
  background: #0000ce;
}

/*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}
.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: #000035;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(90, 90, 90);
  left: 0;
  bottom: 0;
}
.alt-services .icon-box {
  margin-top: 50px;
}
.alt-services .icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 90);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: 0.3s;
}
.alt-services .icon-box:hover i {
  background-color: rgb(90, 90, 90);
  color: #fff;
}
.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}
.alt-services .icon-box h4 a:hover {
  color: rgb(90, 90, 90);
}
.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px color-mix(in srgb, rgb(90, 90, 90), transparent 90%);
  transition: 0.3s;
  height: 100%;
}
.features .feature-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.features .feature-box i {
  background: color-mix(in srgb, #000035, transparent 92%);
  color: #000035;
  line-height: 0;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}
.features .feature-box:hover i {
  background: #000035;
  color: rgb(90, 90, 90);
}

/*--------------------------------------------------------------
# More Features Section
--------------------------------------------------------------*/
.more-features .features-image {
  position: relative;
  min-height: 400px;
}
.more-features .features-image img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.more-features h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.more-features .about-icon-box {
  margin-top: 30px;
}
.more-features .about-icon-box i {
  color: var(--accent-color);
  margin-right: 15px;
  font-size: 24px;
  line-height: 1.2;
}
.more-features .about-icon-box h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
.more-features .about-icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*----------------------------------------------------------------
h1 header for each page 
-----------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f6f7;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
  color: rgb(56, 56, 56);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #000035;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
  color: rgb(56, 56, 56);
}

.section-title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #000035;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header {
  text-align: center;
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: rgb(90, 90, 90);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}
.sub-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  text-align: center;
}

.sub-title p {
  margin-right: 2rem;
}

.info-section .sub-style .sub-title {
  font-size: 40px;
}

.sub-title::before {
  content: "";
  width: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-top: 8px;
  margin-right: -100px;
  border: 1px solid;
  border-color: rgb(90, 90, 90);
}

.sub-title::after {
  content: "";
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-bottom: 8px;
  margin-right: -50px;
  border: 1px solid;
  border-color: rgb(90, 90, 90);
}

/*--------------------------------------------------------------
# alternate-section-header
--------------------------------------------------------------*/
#alternate-page-title {
  height: 40vh;
  color: #fff;
  padding: 10px 0 20px 0;
  background: rgba(13, 20, 41, 0.7);
}
@media (max-width: 800px) {
  #alternate-page-title {
    height: 40vh;
  }
}
#alternate-page-title h1 {
  color: white;
}
#alternate-page-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#alternate-page-title .text-box {
  text-align: center;
  padding: 3rem;
  width: 100%;
  display: inline;
  max-width: 200px;
}
#alternate-page-title .text-box h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
#alternate-page-title .text-box h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
#alternate-page-title .text-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

/*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
.services-page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1300px) {
  .services-page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .services-page-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  .services-page-content {
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
    padding: 0;
  }
}
@media (max-width: 350px) {
  .services-page-content {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    padding: 0;
    margin: 0 0;
  }
}

.services-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .services-card {
    height: 550px;
  }
}
.services-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 1.05s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}
.services-card:after {
  content: "Tap for More";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.32) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.54) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.card-1:before {
  background-image: url("../img/container-cleaning.webp");
}

.card-2:before {
  background-image: url("../img/Pressure_Washing_of_Tank_Exterior.webp");
}

.card-3:before {
  background-image: url("../img/vac_truck_2.webp");
}

.card-4:before {
  background-image: url("../img/outkast-banner.webp");
}

.card-5:before {
  background-image: url("../img/Opening_of_a_Carbon-Tetrachloride_Tank.webp");
}

.card-6:before {
  background-image: url("../img/hazmat.webp");
}

.card-7:before {
  background-image: url("../img/Transfer_of_Leaking_Tanker.webp");
}

.card-8:before {
  background-image: url("../img/employee.webp");
}

.services-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
.services-content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
}

.copy {
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #00009b;
}
.btn:focus {
  outline: 1px dashed #000035;
  outline-offset: 3px;
}

@media (hover: hover) {
  .services-card:after {
    transform: translateY(0);
  }
  .services-content {
    transform: translateY(calc(100% - 90px));
  }
  .services-content > *:not(.title) {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .services-card:hover,
  .services-card:focus-within {
    align-items: center;
  }
  .services-card:hover:before,
  .services-card:focus-within:before {
    transform: translateY(-4%);
  }
  .services-card:hover:after,
  .services-card:focus-within:after {
    transform: translateY(-50%);
  }
  .services-card:hover .services-content,
  .services-card:focus-within .services-content {
    transform: translateY(0);
  }
  .services-card:hover .services-content > *:not(.title),
  .services-card:focus-within .services-content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.0875s;
  }
  .services-card:focus-within:before, .services-card:focus-within:after,
  .services-card:focus-within .services-content,
  .services-card:focus-within .services-content > *:not(.title) {
    transition-duration: 0s;
  }
}
.service-card .list .content .content-inner h3 {
  color: black;
  font-size: 18px;
  text-align: center;
}

.service-card .list {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.service-card .list .service-img {
  position: relative;
  overflow: hidden;
  height: 200px;
  z-index: 1;
}

.service-card .list .service-img img {
  transition: 0.5s;
}

.service-card .list .service-img::before {
  width: 100%;
  height: 100%;
  height: 0;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
  z-index: 5;
}

.service-card .list:hover .service-img::before {
  height: 100%;
  background: rgba(162, 193, 199, 0.3);
}

.service-card .list .service-img:hover img {
  transform: scale(1.3);
}

.service-card .list .content {
  position: relative;
  z-index: 2;
}

.service-card .list .content h3 {
  color: #000035;
  text-align: center;
}

.service-card .list .content p {
  color: black;
  text-align: center;
}

.service-card .list .content::before {
  width: 100%;
  height: 8px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
  z-index: 3;
}

.service-card .list:hover .content::before {
  height: 100%;
}

.service-card .list .content .content-inner {
  transition: 0.5s;
}

.service-card .list:hover .content .content-inner {
  position: relative;
  color: black;
  z-index: 9;
}

.service-card .list:hover .content .content-inner h3 {
  color: black;
  -webkit-text-decoration: underline 2px black;
          text-decoration: underline 2px black;
}

.services-btn {
  background-color: #989595;
  color: black;
  border-radius: 3rem;
  margin-top: 3rem;
  text-align: center;
  padding: 12px 30px;
}

.services-btn a {
  text-align: center;
  color: black;
  align-items: center;
}

.services-btn a::hover {
  background-color: #000035;
}

/*** Service End ***/
/*--------------------------------------------------------------
 # secondary-page-header
 --------------------------------------------------------------*/
.secondary-page-header {
  padding: 140px 0 60px 0;
  min-height: 30vh;
  font-size: 20px;
  position: relative;
  background-color: rgb(90, 90, 90);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 30px;
}

.secondary-page-header:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.secondary-page-header h2 {
  font-size: 36px;
  float: left;
  font-weight: 500;
  color: whitesmoke;
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  text-underline-offset: 8px;
}

/*--------------------------------------------------------------
# certification Section
--------------------------------------------------------------*/
.certification .certification-item {
  padding: 30px;
}
.certification .certification-item .cert-img {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  color: #000035;
}
.certification .certification-item .cert-title {
  text-align: center;
  margin-top: 12rem;
  margin-right: 3rem;
}
.certification .certification-item .cert-title h2 {
  text-align: center;
  font-size: 24px;
}

/*--------------------------------------------------------------
# Values Section
--------------------------------------------------------------*/
.values .card {
  background-color: #dadada;
  color: rgb(90, 90, 90);
  padding: 30px;
  box-shadow: 0px 0 10px color-mix(in srgb, rgb(90, 90, 90), transparent 92%);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border: 0;
}
.values .card i {
  font-size: 35px;
  color: black;
}
.values .card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}
.values .card:hover {
  box-shadow: 0px 0 30px color-mix(in srgb, rgb(90, 90, 90), transparent 88%);
}
.values .card:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Social Icons 
--------------------------------------------------------------*/
/*Start of the social icons */
.hero-social-container {
  text-align: left;
  margin-right: 5rem;
}

.rounded-social-buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  color: #fefefe;
  font-size: large;
  font-weight: 500;
  border-radius: 50%;
  transition: all 0.1 ease;
  margin-bottom: -15px;
  margin-right: 4px;
  margin-left: 5px;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  animation: bounce 0.4s cubic-bezier(0.59, -0.67, 0.24, 0.79) 2;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
.rounded-social-buttons .fa-tiktok, .fa-facebook-f, .fa-linkedin, .fa-yelp, .fa-instagram {
  font-size: 25px;
  margin-top: 7px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.tiktok {
  background: black;
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.rounded-social-buttons .social-button.yelp {
  background: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.rounded-social-buttons .social-button.linkedin {
  background: #0077b5;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: whitesmoke;
}
.contact .info-box {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px;
}
.contact .info-box i {
  font-size: 32px;
  color: rgb(90, 90, 90);
  border-radius: 50%;
  margin-bottom: 1rem;
  padding: 8px;
  border: 2px dotted #b3b3b3;
  float: left;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #8d8d8d;
  font-weight: 700;
  margin: 10px 0 10px 68px;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}
.contact .info-box a {
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 2rem;
  margin-top: 1rem;
  transition: 0.5s;
  text-align: center;
  padding: 10px 26px 8px 26px;
  color: #fff;
  background: #000054;
  border-radius: 3rem;
  z-index: 4;
}
.contact .info-box a:hover {
  background: rgb(90, 90, 90);
}
.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: rgb(90, 90, 90);
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: rgb(90, 90, 90);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
.contact .php-email-form button[type=submit]:hover {
  background: #747474;
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: rgb(90, 90, 90);
  background-color: #747474;
  font-size: 14px;
  padding-bottom: 1px;
  position: relative;
  align-items: center;
}
.footer .footer-top {
  padding-top: 50px;
}
.footer .footer-top .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}
.footer .footer-top .footer-about .logo img {
  max-height: 150px;
  margin-right: 6px;
  border-radius: 50%;
}
@media (max-width: 580px) {
  .footer .footer-top .footer-about .logo img {
    text-align: center;
  }
}
.footer .footer-top .footer-about span {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}
.footer .footer-top p {
  font-size: 19px;
  color: white;
}
.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000035;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, rgb(90, 90, 90), transparent 30%);
  font-size: 16px;
  color: color-mix(in srgb, rgb(90, 90, 90), transparent 20%);
  margin-right: 10px;
  transition: 0.3s;
}
.footer .social-links a :hover {
  font-size: 20px;
}
.footer .social-links a i {
  color: white;
}
.footer .social-links a i:hover {
  color: rgb(90, 90, 90);
}
.footer h4 {
  font-size: 16px;
  color: white;
  padding: 2px;
  font-weight: bold;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-underline-offset: 3px;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-links ul a {
  color: white;
  font-weight: 500;
  display: inline-block;
  line-height: 1;
}
.footer .footer-links ul a:hover {
  color: #000035;
  transform: scale(1.2);
}
.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid color-mix(in srgb, rgb(90, 90, 90), transparent 90%);
}
.footer .copyright p {
  margin-bottom: 0;
  color: black;
}
.footer .copyright a {
  color: #000035;
}
.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}