/*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .services .service-item {
    padding: 40px;
    background: #fff;
    height: 100%;
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
  
    position: relative;
    margin-bottom: 50px;
   
    text-align: center;
  }
  
  .services .service-item .icon i {
    color: var($secondary);
    font-size: 30px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    line-height: 1.8;
    
  }
  
  .services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background: #f0f1f2;
    border-radius: 50px;
    z-index: 1;
  text-align: center;
    
    transition: 0.3s;
  }
  
  .services .service-item h3 {
    color: black;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #ebebed;
    transition: 0.3s;
  }
  
  .services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var($primary);
  }
  
  .services .service-item:hover .icon:before {
    background: $primary;
  }
  
  .services .service-item:hover h3 {
    border-color: $primary;
  }